*{
    box-sizing: border-box;
}


body{
    font-family: 'Comfortaa', cursive;
    margin: 0;
}





header{
    background-color: rgb(236, 205, 164);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    color: rgb(0, 0, 0);
    margin: 60px;
    text-decoration: none;

}


.connect{
    color: rgb(255, 198, 144);
    background-color: rgba(172, 44, 44, 0.705);
    padding: 15px 40px;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.5s;
}

.connect:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
}

button{
    font-family: 'Comfortaa';
    color: rgb(253, 204, 161);
    background-color: rgba(129, 22, 22, 0.658);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

main{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), black), url(moon.jpg); 
    min-height: 150vh;
    background-size: cover;
    color: silver;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

h1{
    margin: 0;
}
aside{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;

}

div{
    border: rgba(122, 49, 1, 0.582) 3px solid;
    width: 30%;
    padding: 0px;
    text-align: center;
    background-color: rgba(224, 168, 122, 0.795);
}
footer{
    padding: 30px;
    background-color: rgba(224, 168, 122, 0.795);
}


@media(max-width: 500px){
    header{
        display: block;
        padding: 15px 5px;
        text-align: center;
    }
    header a{
        display: inline-block;
    }
    aside{
        display: block;
    }
    div{
        width: 90%;
        margin: 10px auto;
    }
    img{
        max-width: 100%;
    }
}